<h1>Editing quiz answer</h1>

<%= render "form", quiz_answer: @quiz_answer %>

<br>

<div>
  <%= link_to "Show this quiz answer", @quiz_answer %> |
  <%= link_to "Back to quiz answers", quiz_answers_path %>
</div>
