<p style="color: green"><%= notice %></p>

<h1>Quiz answers</h1>

<div id="quiz_answers">
  <% @quiz_answers.each do |quiz_answer| %>
    <%= render quiz_answer %>
    <p>
      <%= link_to quiz_answer, quiz_answer %>
    </p>
  <% end %>
</div>

<%= link_to "New quiz answer", new_quiz_answer_path %>
